body{
	/*background: #F3F3FA;*/
}
.wizard > .content{
	/*background: white;*/
}
div#truck-blocks > div{
	height: 85px;
	margin-bottom: 20px;
    text-align: center;
}

div#truck-blocks img{
	padding: 10px;
	margin:0;
	list-style: none;
	border: 1px solid #CCC;
	background: white;
	border-radius: 4px;
	opacity: 0.75;
	cursor: pointer;
	/*width: 20%;*/
	/*padding: 15px;*/	
}
div#truck-blocks img:hover{
	opacity: 1;
	border-color: #BBB;
}
div#truck-blocks div.active img,.truck-seria.active >div:first-child{
	border-color: #2184be;

    -moz-box-shadow:    0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow:         0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    opacity: 1;
}
li.active{
	font-weight: bold;
}
.truck-seria img{
    cursor: pointer;
	-ms-transform: scale(0.8); 
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.truck-seria.active img{
	-ms-transform: scale(0.95); 
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.truck-seria > div:first-child{
    height: 210px;
    background: white;
    border: 1px solid #555;
}
.truck-seria > label{
    display: block!important;
    text-align: center;
}
.no-select{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
#truck-blocks > div > label{
    display: block;
}
/*.wizard > .content > .body .radio.inline.control-label{*/
    /*margin-right: 10px;*/
/*}*/
/*.wizard > .content > .body .radio.inline.control-label input{*/
    /*display: inline;*/
    /*border: none;*/
/*}*/
ul.nested{
    font-weight: italic;
}
ul.nested li{
    margin-left:20px;
    list-style-type:circle!important;
}